.side-nav {
    min-width: 20%;
  }
  
  .form-field{
    width: 1400px;
    border: 1px solid#ccc;
    margin: 40px 20px 20px 40px;
  }

  .form-layout{
    font-size: 18px;
    text-align: center;
    font-family: sans-serif;
    padding: 20px;
  }
  
  h2 {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  h2:after {
      display: inline-block;
      margin: 0 0 8px 20px;
      height: 3px;
      content: " ";
      text-shadow: none;
      background-color: #999;
      width: 140px;
  }
  h2:before {
      display: inline-block;
      margin: 0 20px 8px 0;
      height: 3px;
      content: " ";
      text-shadow: none;
      background-color: #999;
      width: 140px;
  }

  img {
    width: 60px;
    height: 60px;
  }
  
  .container {
    display: flex;
    justify-content: center;
    padding-top: 25px;
  }
  


  a.arrow-button {
    margin: 1em auto;
    width: 280px;
    text-align: center;
    background-color: #eee;
    padding: 0.5em 0;
    display: block;
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s;
    box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.6);
    border-radius: 8px;
  }
  a.arrow-button:hover {
    color: #eee;
    background-color: #333;
  }
  
  .arrow-left::before {
    content: "\25c4";
    padding-right: 0.5em;
  }
  
  .arrow-right:before {
    content: "\25ba";
    padding-right: 0.5em;
  }
  
  .arrow-down::after {
    content: "\25bc";
    padding-left: 0.5em;
  }
  
  .arrow-up::after {
    content: "\25b2";
    padding-left: 0.5em;
  }
  