<div class="container-fluid form-field">
    <h2 class="form-layout"> Application Forms </h2>

    <nav>
      <div>
          <a routerLink="/pediatric" routerLinkActive="active" class="arrow-button"><span class="arrow-right"> Pediatric Application Form</span></a>
      </div>
      <div>
          <a routerLink="/adults" routerLinkActive="active" class="arrow-button"><span class="arrow-right"> Adult's Application Form</span></a>
      </div>
    </nav>
    <router-outlet></router-outlet>

    
</div>